{% extends "layout.html" %}

{% block title %}
    FAQ
{% endblock %}

{% block main %}

 <button class="accordion">What is the point of this app?</button>
<div class="panel" style="background-color: rgb(25,25,25);">
  <h5>
  This app seeks to slow the spread of Covid-19 by giving people the ability to use contact-tracing without any risk to their privacy. 
  </h5>
</div>
<button class="accordion">What Makes This App Different?</button>
<div class="panel" style="background-color: rgb(25,25,25);">
  <h5>
  It's your Privacy. We don't know who your are, and no one else does. You don't need to share ANY personal data at all, No name, no phone number, not anything but your anonymous Location.
  </h5>
</div>
    <button class="accordion" style="color:white;">What Data Do We Take?</button>
<div class="panel" style="background-color: rgb(25,25,25); height:10%;">
  <h5>
  Location, and only what you allow. Nothing else. If you want to see all data we have, go to the data page.
  </h5>
</div>
<button class="accordion" >Who Sees My Data?</button>
<div class="panel" style="background-color: rgb(25,25,25);">
  <p>
  Only the Algorithm. Your data doesn't EVER go to a 3rd party server, and NO human has access to it.
  </p>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

{% endblock %}
